/* Small devices ( up to 600px wide) */
@media (max-width: 600px){
        .container {
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px 0px;
       
    }

    .logoup {
        width: 158px;
        height: 45px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);
    
    }

      .logoup2 {
      display: none;
       
    
    }

    header {
        width: 100%;
        margin-bottom: 20PX;
        margin-left: 0px;
        margin-right: 0px;
        

    }

    .topnav {
  overflow: hidden;
  border-width: thin;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #cc6666;
  text-align: center;
  padding: 3px 14px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:hover {
  
  color: #ff6666;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
 .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }



  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  /*  button que da la accion */

      
.demo-content {
display: none; 
}

.register-btn {
display: none;
            
}

.register-btn:hover {
           
display: none;
}

   

form {
display: none;
}


legend {
  display: block;
  font-weight: bold;
}

fieldset {
 display: none;
   }

/* Modal Overlay */
.modal-overlay {
display: none;
}


/*here is top5 container*/

.box-top5{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: justify;
   row-gap: 10px;
   background-color: blueviolet;
}

.box-five{
width: 100%;
  flex:1;
   background-color:aqua;
   padding-right: 0px;
   padding-left: 0px;
 
 
  
}

.box-five h3{

  flex:1;
   background-color:aqua;
   padding-right: 10px;
   padding-left: 10px;
  overflow-wrap: break-word;
 
  
}

/*here end top5 container*/

 .containerreceta {
        display: grid; /* Make this a grid container and all direct children grid items */
        grid-template-rows: repeat(2,0.1fr); /* 2 rows, each 50px high */
        grid-template-areas: "text1"
                        "gallery";

        text-align: left;
        width: 100%;
    }


     .text1{
       
        font-size: 20px;
        color: #ffffff;
        background-color: #cc6666;
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 50px;

    }

    .logito {
        
        width: 30px;
        height: 30px;
        float: right;
        margin-right: 10px;
        margin-left:0px;
        padding-top: 0px;
        margin-top: 10px;
        
    }

    .text1 ul li {
        font-size: 16px;
        margin: 0px 0px;
        padding: 0px 0px;
        line-height: 1.4em;
        font-family: "Nunito Sans", sans-serif;
        text-decoration: none;

    }

    .gallery {
        width: 100%;
        
    }

    .gallery2 {
    display: none;
    }

    .gallery img{
        
        position: absolute;
        margin-top: 20px;
        margin-left: 65px;

    
        
    }

    .containerreceta h1 {
        color:rgb(255, 255, 255);
        font-size: 25px;
    }

     .containerreceta h2 {
        color:rgb(255, 255, 255);
        font-size: 19px;
    }
     .containerreceta h3 {
        color:rgb(255, 255, 255);
        font-size: 15px;
    }

    
   


    .pasos p {
        width: 95%;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        line-height:1.4em ;

    }

     .pasos1 p {
        width: 85%;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        line-height: 1.4em;

    }

    ul  {
    font-style:normal ;
    text-decoration: none;
    line-height:1.4em;
    list-style-type: none;
}

ol{
    font-weight: normal;
    line-height: 1.4em;
    text-decoration: none;
    list-style-type: none;
    
}

li{
    font-weight: normal;
    line-height: 1.4em;
    text-decoration: none;
    list-style-type: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
}
}/*end Small devices ( up to 600px wide) */

@media (min-width: 601px) {
.container {
width: 100%;
padding: 10px 0px;
       
}

.logoup {
display: none;
}

.logoup2 {
width: 158px;
height: 45px;
margin-top: 30px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 50px;
}

header {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
column-gap: 0px;
margin-bottom:40px;
        
        }

.topnav {
display: flex;
column-gap: 40px;
overflow: hidden;
background-color: #ffffff;
padding-top: 40px;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}


form {
  max-width: 480px;
  margin: 0 ;
  padding: 0px;
  }


legend {
  display: block;
  font-weight: bold;
}

fieldset {
    display: block;
    margin-top: 10px;
    margin-inline: 12px;
    border-width: 2px;
    border-style: none;
    color: #ffffff;
    font-weight: 200;
   }

        /* Modal Overlay */
        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(37, 71, 152, 0.4);
            backdrop-filter: blur(8px);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .modal-overlay.active {
            opacity: 1;
            visibility: visible;
        }

        /* Modal Container */
        .modal-container {
            background: #cc6666;
            border-radius: 24px;
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
            max-width: 480px;
            width: 100%;
            margin: 20px;
            position: relative;
            transform: scale(0.9) translateY(20px);
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            overflow: hidden;
            padding: 20px;
        }

        

        /* Close Button */
        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 25px;
            height: 25px;
            background: #f1f5f9;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.2s ease;
            z-index: 10;
            
            
        }

        .close-btn:hover {
            background: #e2e8f0;
            transform: scale(1.1);
            
        }

        .close-btn::before,
        .close-btn::after {
            content: "\2A09";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 1px;
            
            color: #000;
        }

       

       .cajanombre {
         width: 95%;
            padding: 12px 15px;
            border: 2px solid #e2e8f0;
            border-radius: 12px;
            font-size: 1rem;
            font-family: inherit;
            background: #ffffff;
            position: relative;
        
       }
       
label{
    
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
}

        /*  button que da la accion */

      
        .demo-content {
        padding-top: 55px;
        text-align: center;
        max-width: 160px;
        margin-bottom: 0px;
        }

        .register-btn {
        background-color: #ffffff;
        color: #333333;
        border: none;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Space Grotesk', sans-serif;
        cursor: pointer;
        transition: all 0.3s ease;
            
        }

        .register-btn:hover {
           
        transform: translateY(-2px);
        
        }

        .submit-btn {
            width: 100%;
            margin-top: 10px;
            background-color:#ffffff;
            color: rgb(0, 0, 0);
            border: none;
            padding: 13px 14px;
            border-radius: 12px;
            font-size: 1rem;
            font-weight: 400;
            font-family: inherit;
            cursor: pointer;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            overflow: hidden;
            transform-origin: center;
        }

         .submit-btn:hover {
            transform: translateY(-3px) scale(1.02);
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.4);
        }

}/*end desktop devices ( big 600px wide) */