html{
    scroll-behavior: smooth;
}

body{
   background-color: rgb(255, 255, 255);
}

h1{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    
   
}

 h2 {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
}
 h3 {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

 p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #151515;
        line-height: normal;
}

 ul {
    padding: 0px 0px;
    
    
}


